<article class="list-row flex flex-col"
    itemscope
    itemtype="https://schema.org/Book">
    <figure class="aspect-w-16 aspect-h-9">
        <img class="mx-auto rounded-box object-cover h-40 sm:h-56 lg:h-56 w-full"
             src="{{ manga.thumbnail_url }}"
             alt="{{ manga.title }}"
             loading="lazy"
             width="800"
             height="600"
             itemprop="image" />
    </figure>
    <header class="mt-2" itemprop="name">
        <a class="link" href="{{ manga.slug }}" itemprop="url">
            <h3 class="text-lg font-semibold">{{ manga.title }}</h3>
        </a>
    </header>
    <footer class="text-xs uppercase font-semibold opacity-60"
         itemprop="additionalProperty"
         itemscope
         itemtype="https://schema.org/PropertyValue">
        <meta itemprop="name" content="Status" />
        <span itemprop="value">{{ manga.status }}</span>
    </footer>
</article>
