<li class="list-row flex flex-col">
    <div class="aspect-w-16 aspect-h-9">
        <img class="mx-auto rounded-box object-cover h-40 sm:h-56 lg:h-56 w-full"
             src="{{ manga.thumbnail_url }}"
             alt="{{ manga.title }}"
             loading="lazy"
             width="800"
             height="600" />
    </div>
    <div>
        <div>
            <a class="link" href={{ manga.slug }}>{{ manga.title }}</a>
        </div>
        <div class="text-xs uppercase font-semibold opacity-60">{{ manga.status }}</div>
    </div>
</li>
