{% extends "./base/base.html" %}
{% block title %}
  Read Manga Online Free – Latest Manga Updates | MangaFoxy.com
{% endblock title %}
{% block meta_description %}
  Read manga online for free at MangaFoxy. Discover the latest chapters of top manga like One Piece, Jujutsu Kaisen, Solo Leveling, and more. Updated daily!"
{% endblock meta_description %}
{% block meta_keywords %}
read manga online, free manga, manga online, manga reader, latest manga chapters, popular manga, mangafox alternative, manga scanlations, manga updates, english manga, manga website, best manga site, manga list, new manga, manga chapters online
{% endblock meta_keywords %}
{% block content %}
  <h2 class="text-xs p-4 pb-2 opacity-60">All Manga Titles</h2>
  <ul class="grid sm:grid-cols-2 grid-cols-1 gap-4 p-4 list bg-base-100 rounded-box shadow-md">
    {% for manga in mangas %}
      {% include "./components/manga_card.html" with manga=manga %}
    {% empty %}
      <p>No manga found.</p>
    {% endfor %}
  </ul>
  {% if mangas.has_other_pages %}
    <div class="join flex justify-center mt-6">
      {% if mangas.has_previous %}
        <a href="?page=1" class="join-item btn btn-sm">« First</a>
        <a href="?page={{ mangas.previous_page_number }}"
           class="join-item btn btn-sm">‹ Prev</a>
      {% endif %}
      <span class="join-item btn btn-sm btn-disabled">Page {{ mangas.number }} of {{ mangas.paginator.num_pages }}</span>
      {% if mangas.has_next %}
        <a href="?page={{ mangas.next_page_number }}"
           class="join-item btn btn-sm">Next ›</a>
        <a href="?page={{ mangas.paginator.num_pages }}"
           class="join-item btn btn-sm">Last »</a>
      {% endif %}
    </div>
  {% endif %}
{% endblock content %}
